.clue-container {
  height: 240px;
  width: 200px;
  padding: 10px;
  background-color: #dddddd;
  overflow-y: scroll;
  margin-bottom: 8px;
}

.clue {
  font-size: 12px;
  font-style: normal;
  line-height: 18px;
  margin-bottom: 10px;
}
