*:focus {
  outline: none;
}

#crossword g rect {
  stroke-width: 1;
  stroke: rgb(55, 55, 55);
}

#crossword g rect.white-square {
  fill: #ffffff;
}

#crossword g rect.black-square {
  fill: #000000;
  stroke: rgb(0, 0, 0);
}

#crossword g rect.active {
  fill: #cceeaa;
}

#crossword g rect.bluebox {
  fill: #66ccff;
}

#crossword g text.inputText {
  font-size: 30px;
  font-style: bold;
  text-transform: capitalize;
  color: red;
}
